@charset "UTF-8";

body {	
	margin:0;
	padding:0;
	line-height:1.3em;
	background-image: url("../img/pattern.jpg");
	background-repeat:no-repeat;
	background-position:right top;
	background-size: cover;
	background-attachment: fixed;
	background-origin: initial;
	background-clip: initial;
	background-color: lightblue;
}