<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="main-menu">
  <div class="top-bar-right">
    <ul class="dropdown menu" data-responsive-menu="drilldown medium-dropdown">
      <li>
        <a href="#">Funkcjonalności</a>
        <ul class="submenu menu vertical">
          <li><a href="plan.html">Plan Zajęć</a></li>
          <li><a href="galeria.html">Galeria Zdjęć</a></li>
          <li><a href="mapa.html">Mapa</a></li>
          <li><a href="article.html">Markdown</a></li>
          <li>
            <a href="#">Ciekawostki</a>
            <ul class="submenu menu vertical">
              <li><a href="ciekawostki_tele.html">Telekomunikacja</a></li>
              <li><a href="ciekawostki_sport.html">Piłka Nożna</a></li>
            </ul>
          </li>
          <li><a href="tests.html">Wyniki Testów</a></li>
          <li><a href="test.html">Strona Testowa</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Foundation</a>
        <ul class="submenu menu vertical" data-submenu>
          <li><a href="styleguide.html">Style Guide</a></li>
          <li><a href="http://foundation.zurb.com/sites/docs/">Dokumentacja</a></li>
        </ul>
       </li>
      <li><a href="faq.html">Ściągawka</a></li>
      <li class="menu-text"><a href="/">Techniki Internetowe</a></li>
    </ul>
  </div>
</div>
<p> </p>
